@import "leaflet/dist/leaflet.css";

.success-snackbar {
  background-color: #2e7d32;
  color: white;
}
.error-snackbar {
  background-color: #f44336;
  color: white;
}
.warning-snackbar {
  background-color: #ff9800;
  color: black;
}
.map-container {
  height: 300px !important;
  width: 100% !important;
}